.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  min-height: 100vh;

  .test-guide-box {
    width: 15rem;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 0.5rem;
    // border: 1px solid #3c3633;
    // padding: 1rem;

    div:first-child {
      // height: 3rem;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      // justify-content: center;

      img {
        width: 1.75rem;
      }
    }
    p {
      padding-left: 0.2rem;
    }
  }

  .login-box {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    h2 {
      margin: 0;
    }
    input {
      width: 100%;
      padding: 0.5rem 0.2rem;
      border: none;
      border-bottom: 1px solid #3c3633;

      //   &:focus {
      //     transition: 0.2s;
      //     background-color: rgba(116, 114, 100, 0.2);
      //   }
    }
    .support-box {
      width: 100%;
      display: flex;
      justify-content: space-between;

      button {
        width: fit-content;
        padding: 0.1rem;
        border: none;
        border-bottom: 1px solid #8e8681;
        color: #8e8681;
        font-size: 0.9rem;
        font-weight: 400;
        transition: 0.2s;
        &:hover {
          border: none;
          border-bottom: 1px solid #3c3633;
          color: #3c3633;
        }
        a {
          color: inherit;
        }
      }
    }

    .signin {
      width: 100%;
      height: 3rem;
      border: 1px solid #3c3633;
      transition: 0.2s;

      &:hover {
        color: #eeedeb;
        background-color: #747264;
        border: 1px solid #747264;
      }
    }
  }
}
