.card {
  // width: 15rem;
  text-align: start;
  font-size: 0.8rem;

  .imagebox {
    overflow: hidden;
    img {
      width: 100%;
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .product-textbox {
    padding: 0.5rem;

    p {
      margin: 0;
    }
    .product-name {
    }
    .product-price {
      opacity: 0.7;
      span:first-child {
        text-decoration: line-through;
      }
    }
  }
}
