.card {
  // width: 15rem;
  min-height: fit-content;
  max-height: 28rem;
  text-align: start;
  font-size: 0.8rem;

  .imagebox {
    overflow: hidden;
    img {
      width: 100%;
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .product-textbox {
    padding: 0.5rem;

    .product-price {
      margin-top: 0.5rem;
    }
  }
}

.loader {
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
