.card {
  width: 15rem;
  min-width: 10rem;
  text-align: start;
  font-size: 0.9rem;

  img {
    width: 100%;
  }
  .product-textbox {
    padding: 0.5rem;

    p {
      margin: 0;
    }
    .product-name {
    }
    .product-price {
      opacity: 0.7;
      span:first-child {
        text-decoration: line-through;
      }
    }
  }
}
