.container {
  width: fit-content;
  min-height: calc(100vh - 5rem);
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  text-align: start;
  position: relative;
  gap: 2rem;

  // animation: fade-in 0.4s ease-in-out 0.1s;

  // @keyframes fade-in {
  //   from {
  //     opacity: 0;
  //     transform: translateY(0.5rem);
  //   }
  //   to {
  //     opacity: 1;
  //     transform: translateY(0);
  //   }
  // }

  h1,
  h2 {
    width: 100%;
    margin: 0;
    // text-align: center;
  }
  textarea {
    background-color: transparent;
    height: 3rem;
    outline: none;
    resize: none;
  }

  .info-box {
    width: 30rem;
    padding: 0 0.5rem;
    // background-color: #ffffff80;
    display: grid;
    grid-template-columns: 7rem auto;
    grid-row-gap: 1.5rem;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 2rem;

    button {
      border: 1px solid #3c3633;
      // padding: 0.3rem 0.4rem;
      width: fit-content;
    }
    .label-wrapper {
      width: fit-content;
      label {
        padding-right: 1.5rem;
        height: 100%;
      }
    }
    .input-wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      input {
        height: fit-content;
      }
      .phone-input {
        width: 4rem;
      }
    }
    .address-box {
      width: fit-content;
      display: grid;
      gap: 0.5rem;
      grid-template-columns: auto auto;

      .long-input {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }
  .price {
    padding-right: 1rem;
  }
  .bold {
    font-weight: 600;
    font-size: medium;
  }
  .btn-checkout {
    border: 1px solid #3c3633;
    padding: 0.8rem 1.4rem;
    width: 100%;
    &:hover {
      border: 1px solid transparent;
      background-color: #747264;
      color: #eeedeb;
    }
  }
  .red {
    color: #dd0000;
    font-weight: 500;
    padding: 0 0.2rem;
  }
}
